<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Triangle</title>
</head>
<body>
    <nav>
        <ui>
            <li><a href="/triangle">Triangle</a></li>
            <li><a href="/circle">Circle</a></li>
        </ui>
    </nav>
    <form action="/circle" method="POST">
        <div>
            <label for="radius">Radius: </label>
            <input type="number" name="radius" id="radius" >
        </div>
        <button type="submit">Submit</button>
    </form>
</body>
</html>